---

---

<section class="bg-emerald-900/40 " id="aboutMe">
  <h2 class="text-2xl font-semibold text-center text-white pt-10 border-b-2 border-emerald-300 pb-2 w-1/2 mx-auto" data-aos="fade-down-right">Acerca de mi </h2>
  <div class="container mx-auto py-10 flex flex-col-reverse md:flex-row flex-wrap justify-between gap-10 md:gap-2 items-center mt-8 w-[95%] md:w-[75%]">
    <div class="grow-0 basis-2/3 w-[85%] md:w-[65%] text-lg leading-7 space-y-3 lg:max-w-1024">
      <p class="text-gray-300">
        Hola, me presento. Me llamo Yael torres, actualemente soy estudiante de la carrera de ingenieria en sistemas.
      </p>
      <p class="text-gray-300">
        Siempre eh tenido un gusto por crear y ver como es que funcionan las cosas, por eso es que me interese en la 
        programacion, actualemente eh estudiado para formarme como desarrollador fron-end, en estoy llevo estudiando uno ano a 
        ano y media, aunque actualemente me dio tambien por seguir mi formacion en la parte del backend siguiendo el mismo stack de 
        JS con node, expres y tecnologias como mongoose, sequelize y un poco de PostregreSQL.
      </p>
    </div>
    <div class="w-[85%] md:w-[30%]">
      <img class="w-full h-full rounded-4xl overflow-hidden" src="https://images.unsplash.com/photo-1561736778-92e52a7769ef?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="about me image" loading="lazy"/>
    </div>
  </div> 
</section>
