---
import "remixicon/fonts/remixicon.css";
---

<section class="bg-emerald-900/20 " id="experiencia">

  <h2 class="text-2xl font-semibold text-center text-white pt-10 border-b-2 border-emerald-300 pb-2 w-1/2 mx-auto" data-aos="fade-down-right">Experiencia</h2>

  <div class="container mx-auto py-10 flex flex-col-reverse md:flex-row flex-wrap justify-between gap-10 md:gap-2 items-center mt-8 w-[85%] md:w-[75%]">
    <div class="space-y-4 bg-cyan-900/40 p-6 rounded-lg w-[65%]">
      <h3 class="text-emerald-300/70 text-xl">Desarrollador front-end junior - Grupo Formula</h3> 

      <div class="text-gray-300">

        <p class="mb-4">Estuve dentro de el equipo de desarrollo de grupo formula como parte de mi servicio sociall, y 3 meses como becario</p>

        <div class="space-y-2">
          <p>Dentro de las actividades en las cuales me emplearon son:</p>
          <ul class="space-y-2">
            <li class="flex items-center gap-2">
              <i class="ri-code-s-slash-fill text-xl text-emerald-400"></i>
              <p>Resolver llamadas a la base de datos dentro de el CMS para la administracion de sitios web</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-code-s-slash-fill text-xl text-emerald-400"></i>
              <p>Actualizaciones de la interfaz de un CMS para la administracion de sitios web</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-code-s-slash-fill text-xl text-emerald-400"></i>
              <p>Actualizacion de plantillas, de sitios ya existentes a partir de componentes astro.</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-code-s-slash-fill text-xl text-emerald-400"></i>
              <p>Actualizacion de componentes dentro de boilerplate para sitios web</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-code-s-slash-fill text-xl text-emerald-400"></i>
              <p>Creacion de componenetes en Astro, js y React</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> 
</section>
